.text-channel {
  height: 100vh;
  width: calc(100vw - 72px - 242px);
  background: $dk-main-bg;
  display: flex;
  flex-direction: column;
}

.chat-group {
  display: flex;
  flex-direction: row;

  .chat-room {
    display: flex;
    flex-direction: column;
  }
}

.member-bar {
  top: 50px;
  height: calc(100vh - 50px);
  width: 240px;
  background: $dk-sidebar;
  color: rgb(140, 143, 148);
  overflow-y: scroll;
  padding: 10px 0;

  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }

  h4 {
    font: {
      size: 12px;
      family: "Whitney Bold";
    }
    padding: 10px 20px 0;
  }

  ul {
    padding: 5px 10px 10px;
    display: flex;
    flex-direction: column;

    .member {
      width: 100%;
      height: 42px;
      display: flex;
      flex-direction: row;
      align-items: center;
      color: rgb(140, 143, 148);
      border-radius: 3px;
      padding: 10px;
      @include text-overflow;

      &:hover {
        background: rgb(52, 55, 60);
        color: rgb(211, 212, 213);
      }

      .avatar {
        height: 35px;
        width: 35px;
        border-radius: 50%;
      }

      h2 {
        padding-left: 10px;
        padding-right: 5px;

        font: {
          family: "Whitney Medium";
          size: 16px;
        }
      }

      svg {
        color: $dk-owner-icon;
        transform: translateY(1px);
      }
    }

    .member.offline {
      opacity: 0.3;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.avatar {
  border-radius: 50%;
}

.badge-bg {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  bottom: -2px;
  right: -2px;
  @include flex(row, center, center);
}

.notification {
  @include flex(row, center, center);
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background: $dk-red;
  font: {
    family: "Whitney Bold";
    size: 11px;
  }
}

.avatar-with-status {
  position: relative;
  height: 35px;

  .badge-bg {
    background: $dk-main-bg;

    .online {
      background: $dk-green;
    }

    .offline {
      background: $dk-offline-outer;

      .inner {
        background: $dk-main-bg;
        border-radius: 50%;
        height: 6px;
        width: 6px;
      }
    }
  }

  .badge-bg.sidebar {
    background: $dk-sidebar;

    .offline {
      .inner {
        background: $dk-sidebar;
      }
    }
  }

  .badge-bg.u {
    background: $dk-user-set-bg;

    .offline {
      .inner {
        background: $dk-user-set-bg;
      }
    }
  }

  .badge-bg.m {
    background: $dk-search-bg;

    .offline {
      .inner {
        background: $dk-search-bg;
      }
    }
  }
}

.popout {
  width: 250px;
  border: 1px solid $dk-search-bg;
  border-radius: 4px;
  z-index: 999;

  .popout-head {
    height: auto;
    padding: 15px;
    background: $dk-search-bg;
    border: {
      top-right-radius: 4px;
      top-left-radius: 4px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .avatar-with-status {
      height: 80px;

      .avatar {
        height: 80px;
        width: 80px;
        margin-bottom: 12px;
      }

      .hover-cover {
        height: 80px;
        width: 80px;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        background: transparent;
        color: transparent;
        z-index: 2;
        cursor: pointer;
        @include flex(row, center, center);

        &:hover {
          box-shadow: inset 0 0 120px rgba(0, 0, 0, 0.75);

          &:before {
            content: "VIEW PROFILE";
            text-align: center;
            @include flex(row, center, center);
            color: $dk-white;
            position: absolute;

            font: {
              family: "Whitney Bold";
              size: 10px;
            }
          }
        }

        &:active {
          transform: none;
        }
      }

      .badge-bg {
        height: 27px;
        width: 27px;

        .online,
        .offline {
          height: 17px;
          width: 17px;

          .inner {
            height: 9px;
            width: 9px;
          }
        }
      }
    }

    .member-alias {
      margin-top: 10px;
      font: {
        size: 16px;
        family: "Whitney Medium";
      }
      color: $dk-white;
    }

    .user {
      display: flex;
      flex-direction: row;
      margin-top: 10px;

      h1 {
        font: {
          size: 16px;
          family: "Whitney Medium";
        }
        color: $dk-white;
      }

      h2 {
        color: rgb(167, 167, 168);
        font: {
          size: 16px;
          family: "Whitney Medium";
        }
      }
    }

    .user.with-alias {
      margin-top: 3px;
      line-height: 1;
      h1 {
        font-size: 14px;
        color: rgb(167, 167, 168);
      }
      h2 {
        font-size: 14px;
      }
    }
  }

  .popout-foot {
    max-height: 80px;
    min-height: 40px;
    width: 100%;
    background: $dk-sidebar;
    border: {
      bottom-right-radius: 4px;
      bottom-left-radius: 4px;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;

    .dm-message-form {
      width: 100%;
      margin-bottom: 5px;

      input {
        box-sizing: border-box;
        background: $dk-main-bg;
        color: $dk-icons;
        border: 1px solid rgb(35, 38, 42);
        border-radius: 3px;
        height: 35px;
        width: 100%;
        padding: 8px 10px;
        font: {
          family: "Whitney";
          size: 14px;
          weight: 700;
        }

        &:focus {
          border-color: $dk-blue;
        }
      }
    }

    p {
      font: {
        size: 12px;
        family: "Whitney";
        weight: 700;
      }
      color: rgb(167, 167, 168);

      span {
        color: $dk-green;
        font: {
          family: "Whitney Medium";
        }
      }
    }
  }
}

.channel-list-wrapper {
  position: relative;
}

.channel-list {
  color: rgb(114, 118, 125);
  height: calc(100vh - 50px - 53px);
  overflow-y: scroll;

  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }

  header {
    padding: 10px 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font: {
      size: 12px;
      family: "Whitney Medium";
    }

    h2 {
      svg {
        padding-right: 5px;
      }
      &:hover {
        color: rgb(220, 221, 222);
      }
    }

    & > * {
      cursor: pointer;
    }

    .add-channel-group {
      .add-channel {
        padding-right: 15px;
        align-self: center;

        &:hover {
          color: rgb(214, 215, 216);
        }
      }
    }
  }

  ul {
    padding: 0 8px;
  }

  .hide {
    display: none;
  }

  .channel-tab,
  .friends-btn,
  .convo-li {
    color: rgb(114, 118, 125);
    width: 100%;
    height: 32px;
    display: flex;
    flex-direction: row;
    border-radius: 3px;
    justify-content: space-between;
    align-items: center;
    padding: 6px 6px;
    margin-bottom: 2px;

    div {
      display: flex;
      flex-direction: row;
    }

    h3 {
      font-size: 16px;
      font-family: "Whitney Medium";
      margin-left: 10px;
      max-width: 175px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .icon-grp {
      justify-self: flex-end;
      display: none;

      & > * {
        padding-right: 4px;
        &:hover {
          color: $dk-splash-nav-color;
        }
      }
    }

    &:hover {
      background: rgb(52, 55, 60);
      color: $dk-off-white;

      h3 {
        max-width: 138px;
      }

      .icon-grp {
        display: flex;
      }
    }
  }

  .hashtag,
  .icon-grp {
    color: rgb(114, 118, 125);
  }

  .active {
    display: flex;
    .channel-tab,
    .friends-btn,
    .convo-li {
      background: rgb(58, 60, 67);
      h3 {
        max-width: 153px;
        color: $dk-white;
      }

      .icon-grp {
        display: flex;
      }
    }
  }
}

.unread {
  h3 {
    color: $dk-white;
    &:hover {
      color: $dk-white;
    }
  }
}

.new-channel-form {
  width: 440px;
  background: $dk-main-bg;
  border-radius: 4px;

  & > * {
    padding: 20px;
    width: 100%;
  }

  header {
    height: 60px;
    font: {
      family: "Whitney Bold";
      size: 16px;
    }
  }

  label {
    h5 {
      color: rgb(142, 146, 151);
      padding-bottom: 10px;
      font: {
        size: 12px;
        family: "Whitney Medium";
      }
    }

    input {
      background: rgb(48, 51, 57);
      color: rgb(163, 165, 167);
      font-size: 14px;
      height: 40px;
      width: 100%;
      border-radius: 4px;
      border: 0.5px solid $dk-session-input-b;
      padding: 10px;
      box-sizing: border-box;
      margin-bottom: 10px;

      &:hover {
        border-color: $dk-black;
      }

      &:focus {
        border-color: $dk-blue;
      }
    }

    .err-msg {
      color: $dk-red;
      font: {
        size: 12px;
        family: "Whitney";
      }
    }
  }

  footer {
    background: rgb(47, 49, 54);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border: {
      bottom-right-radius: 4px;
      bottom-left-radius: 4px;
    }

    button {
      width: 124px;
      height: 38px;
      border-radius: 3px;
      font: {
        family: "Whitney Medium";
      }
    }

    .create {
      background: $dk-blue;
    }

    .cancel {
      width: 96px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.tabs {
  padding: 8px;

  .friends-btn {
    background: $dk-sidebar;
    color: rgb(114, 118, 125);
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
    padding-left: 15px;
    margin-bottom: 0;
    height: 42px;

    h2 {
      margin-left: 16px;
      font: {
        family: "Whitney Medium";
        size: 16px;
      }
    }

    .notification {
      height: 17px;
      width: 17px;
      color: $dk-white;
      font-size: 10px;
    }

    &:hover {
      background: rgb(52, 55, 60);
      color: $dk-white;
    }
  }

  .active {
    .friends-btn {
      background: rgb(58, 60, 67);
      color: $dk-white;
    }
  }
}
