.text-channel {
  height: 100vh;
  width: calc(100vw - 72px - 242px);
  background: $dk-main-bg;
  display: flex;
  flex-direction: column;
}

.chat-group {
  display: flex;
  flex-direction: row;

  .chat-room {
    display: flex;
    flex-direction: column;
  }
}

.member-bar {
  top: 50px;
  height: calc(100vh - 50px);
  width: 240px;
  background: $dk-sidebar;
  color: rgb(140, 143, 148);
  overflow-y: scroll;

  h4 {
    font: {
      size: 12px;
      family: "Whitney Bold";
    }
    padding: 20px 20px 0;
  }

  ul {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;

    // .member {
    //   position: relative;
    // }

    button {
      width: 100%;
      height: 42px;
      display: flex;
      flex-direction: row;
      align-items: center;
      color: rgb(140, 143, 148);
      border-radius: 3px;
      padding: 10px;

      &:hover {
        background: rgb(52, 55, 60);
        color: rgb(211, 212, 213);
      }

      img {
        height: 35px;
        width: 35px;
        border-radius: 50%;
      }

      h2 {
        padding-left: 10px;
        padding-right: 5px;

        font: {
          family: "Whitney Medium";
          size: 16px;
        }
      }

      svg {
        color: $dk-owner-icon;
        transform: translateY(1px);
      }
    }
  }
}

.popout {
  position: absolute;
  right: 230px;
  width: 250px;
  border: 1px solid $dk-search-bg;
  border-radius: 4px;
  z-index: 999;

  .popout-head {
    height: 150px;
    background: $dk-search-bg;
    border: {
      top-right-radius: 4px;
      top-left-radius: 4px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      height: 80px;
      width: 80px;
      margin-bottom: 12px;
    }

    .user {
      display: flex;
      flex-direction: row;

      h1 {
        font: {
          size: 16px;
          family: "Whitney Medium";
        }
        color: $dk-white;
      }

      h2 {
        color: rgb(167, 167, 168);
        font: {
          size: 16px;
          family: "Whitney Medium";
        }
      }
    }
  }

  .popout-foot {
    max-height: 80px;
    min-height: 40px;
    width: 100%;
    background: $dk-sidebar;
    border: {
      bottom-right-radius: 4px;
      bottom-left-radius: 4px;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;

    .dm-message-form {
      width: 100%;
      margin-bottom: 5px;

      input {
        box-sizing: border-box;
        background: $dk-main-bg;
        color: $dk-icons;
        // color: rgb(108, 109, 110);
        border: 1px solid rgb(35, 38, 42);
        border-radius: 3px;
        height: 35px;
        width: 100%;
        padding: 8px 10px;
        font: {
          family: "Whitney";
          size: 14px;
          weight: 700;
        }
      }
    }

    p {
      font: {
        size: 12px;
        family: "Whitney";
        weight: 700;
      }
      color: rgb(167, 167, 168);

      span {
        color: $dk-green;
        font: {
          family: "Whitney Medium";
        }
      }
    }
  }
}

.channel-list-wrapper {
  position: relative;
}

.channel-list {
  color: rgb(114, 118, 125);
  height: calc(100vh - 50px - 53px);
  overflow-y: scroll;

  header {
    padding: 10px 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font: {
      size: 12px;
      family: "Whitney Medium";
    }

    h2 {
      svg {
        padding-right: 5px;
      }
      &:hover {
        color: rgb(220, 221, 222);
      }
    }

    & > * {
      cursor: pointer;
    }

    .add-channel-group {
      // position: relative;
      .add-channel {
        padding-right: 15px;
        align-self: center;

        &:hover {
          color: rgb(214, 215, 216);
        }
      }
    }
  }

  ul {
    padding: 0 8px;
  }

  .hide {
    display: none;
  }

  button {
    color: rgb(114, 118, 125);
    width: 100%;
    height: 32px;
    display: flex;
    flex-direction: row;
    border-radius: 3px;
    justify-content: space-between;
    align-items: center;
    padding: 6px 6px;
    margin-bottom: 2px;
    // position: relative;

    div {
      display: flex;
      flex-direction: row;
    }

    h3 {
      font-size: 16px;
      font-family: "Whitney Medium";
      padding-left: 10px;
    }

    &:hover {
      background: rgb(52, 55, 60);
      color: $dk-white;

      .icon-grp {
        display: flex;
      }
    }
  }

  .hashtag,
  .icon-grp {
    color: rgb(114, 118, 125);
  }

  .icon-grp {
    justify-self: flex-end;
    display: none;

    & > * {
      padding-right: 4px;
      &:hover {
        color: $dk-splash-nav-color;
      }
    }
  }

  .active {
    display: flex;
    button {
      background: rgb(58, 60, 67);
      h3 {
        color: $dk-white;
      }

      .icon-grp {
        display: flex;
      }
    }
  }
}

.new-channel-form {
  width: 440px;
  background: $dk-main-bg;
  border-radius: 4px;

  & > * {
    padding: 20px;
    width: 100%;
  }

  header {
    height: 60px;
    font: {
      family: "Whitney Bold";
      size: 16px;
    }
  }

  label {
    h5 {
      color: rgb(142, 146, 151);
      padding-bottom: 10px;
      font: {
        size: 12px;
        family: "Whitney Medium";
      }
    }

    input {
      background: rgb(48, 51, 57);
      color: rgb(163, 165, 167);
      font-size: 14px;
      height: 40px;
      width: 100%;
      border-radius: 4px;
      border: 0.5px solid $dk-session-input-b;
      padding: 10px;
      box-sizing: border-box;
      margin-bottom: 10px;

      &:hover {
        border-color: $dk-black;
      }

      &:focus {
        border-color: $dk-blue;
      }
    }

    .err-msg {
      color: $dk-red;
      font: {
        size: 12px;
        family: "Whitney";
      }
    }
  }

  footer {
    background: rgb(47, 49, 54);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border: {
      bottom-right-radius: 4px;
      bottom-left-radius: 4px;
    }

    button {
      width: 124px;
      height: 38px;
      border-radius: 3px;
      font: {
        family: "Whitney Medium";
      }
    }

    .create {
      background: $dk-blue;
    }

    .cancel {
      width: 96px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
