@mixin flex(
  $direction: row,
  $justify-content: flex-start,
  $align-items: flex-start,
  $flex-wrap: nowrap
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-wrap: $flex-wrap;
}

@mixin button-transition {
  transition: background-color 0.2s ease-in-out;
}

$dk-splash-bg: rgb(38, 38, 43);
$dk-blue: rgb(115, 139, 216);
$dk-blue-hover: rgb(104, 125, 194);
$dk-blue-menu-hover: rgb(93, 113, 175);
$dk-white: rgb(255, 255, 255);
$dk-off-white: rgb(220, 221, 222);
$dk-splash-nav-color: rgb(212, 212, 213); // also message text
$dk-main-bg: rgb(54, 57, 63); // main/nav bg
$dk-session-input-bg: rgb(48, 51, 57);
$dk-sidebar: rgb(
  47,
  49,
  54
); // also members/activity/conversations/channels/scroll bg &
$dk-login-label: rgb(142, 146, 151);
$dk-green: rgb(73, 180, 131);
$dk-green-hover: rgb(65, 162, 117);
$dk-green-disabled: rgb(52, 107, 84);
$dk-text-disabled: rgb(143, 144, 146);
$dk-icons: rgb(185, 187, 190); // also tabs
$dk-owner-icon: rgb(248, 165, 50);
$dk-msg-input-bg: rgb(64, 68, 75);
$dk-search-bg: rgb(32, 34, 37); // also server/scroll bar bg
$dk-user-set-bg: rgb(41, 43, 47);
$dk-msg-hover: rgb(50, 53, 59);
$dk-active-channel-bg: rgb(58, 60, 67);
$dk-channel-hover: rgb(52, 55, 60);

$dk-offline-outer: rgb(117, 127, 141);

$dk-session-sub: rgb(176, 178, 182);

$dk-session-label: rgb(131, 135, 140);

$dk-session-input-b: rgb(29, 31, 35);
$dk-session-blue: rgb(103, 123, 209);

$dk-session-p: rgb(104, 108, 114);

$dk-red: rgb(238, 73, 76);
$dk-red-hover: rgb(214, 66, 69);
$dk-red-text: rgb(227, 70, 73);

$dk-footer-border: rgb(46, 48, 43);

$dk-black: rgb(6, 6, 7);
$dk-server-form-text: rgb(117, 127, 149);
$dk-server-form-disclaimer: rgb(136, 145, 157);
$dk-server-form-label: rgb(79, 86, 96);
$dk-blue-link: rgb(17, 107, 221);
$dk-blue-dm: rgb(52, 143, 212);
$dk-yellow-dm: rgb(238, 187, 48);
$dk-pink-dm: rgb(197, 137, 191);

$dk-s-icon-b: rgb(227, 229, 232);
$dk-server-form-footer-bg: rgb(246, 246, 247);
$dk-server-form-footer-text: rgb(154, 170, 181);
$dk-dropdown-bg: rgb(24, 25, 28);
$dk-unreads-bg: rgb(78, 83, 90);
$dk-divider: rgb(66, 69, 74);
$dk-prof-disc: rgb(183, 185, 188);
$dk-mutual-disc: rgb(135, 136, 140);
