@font-face {
  font-family: "Whitney";
  src: local("Whitney"), font-url("Whitney.otf");
}

@font-face {
  font-family: "Whitney Bold";
  src: local("Whitney Bold"), font-url("whitney-bold.otf");
}

@font-face {
  font-family: "Whitney Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Whitney Medium"), font-url("whitneymedium.woff") format("woff");
}

@font-face {
  font-family: "Whitney Medium Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Whitney Medium Italic"),
    font-url("whitneymediumitalic.woff") format("woff");
}

@font-face {
  font-family: "Whitney Light Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Whitney Light Regular"),
    font-url("whitneylight.woff") format("woff");
}

@font-face {
  font-family: "Whitney Light Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Whitney Light Italic"),
    font-url("whitneylightitalic.woff") format("woff");
}
