@font-face {
  font-family: "Whitney";
  src: local("Whitney"), url("/assets/Whitney.otf");
}

@font-face {
  font-family: "Whitney Bold";
  src: local("Whitney Bold"), url("/assets/whitney-bold.otf");
}

@font-face {
  font-family: "Whitney Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Whitney Medium"), url("/assets/whitneymedium.woff") format("woff");
}

@font-face {
  font-family: "Whitney Medium Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Whitney Medium Italic"),
    url("/assets/whitneymediumitalic.woff") format("woff");
}

@font-face {
  font-family: "Whitney Light Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Whitney Light Regular"),
    url("/assets/whitneylight.woff") format("woff");
}

@font-face {
  font-family: "Whitney Light Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Whitney Light Italic"),
    url("/assets/whitneylightitalic.woff") format("woff");
}

// @font-face {
//   font-family: "Whitney Bold";
//   font-style: normal;
//   font-weight: normal;
//   src: local("Whitney Bold"),
//     url("../fonts/whitney/whitneybold.woff") format("woff");
// }

// @font-face {
//   font-family: "Whitney Semibold Regular";
//   font-style: normal;
//   font-weight: normal;
//   src: local("Whitney Semibold Regular"),
//     url("../fonts/whitney/whitneysemibold.woff") format("woff");
// }

// @font-face {
//   font-family: "Whitney Book Regular";
//   font-style: normal;
//   font-weight: normal;
//   src: local("Whitney Book Regular"),
//     url("../fonts/whitney/whitneybook.woff") format("woff");
// }

// @font-face {
//   font-family: "Whitney Semibold Italic";
//   font-style: normal;
//   font-weight: normal;
//   src: local("Whitney Semibold Italic"),
//     url("../fonts/whitney/WhitneySemiboldItalic.woff") format("woff");
// }

// @font-face {
//   font-family: "Whitney Book Italic";
//   font-style: normal;
//   font-weight: normal;
//   src: local("Whitney Book Italic"),
//     url("../fonts/whitney/whitneybookitalic.woff") format("woff");
// }
