.friends {
  background: $dk-main-bg;
  overflow-y: scroll;
  padding: 15px 20px;
  height: calc(100vh - 50px);
  width: calc(100vw - 72px - 242px);

  .list-head {
    color: rgb(185, 187, 190);
    margin-left: 10px;
    font: {
      family: "Whitney Medium";
      size: 12px;
      variant: "small-caps";
    }
  }

  .item {
    padding: 0 10px 10px;
    cursor: pointer;
    border-radius: 5px;

    .friend {
      padding-top: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-top: 0.1px solid rgb(66, 69, 74);

      .user {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .avatar-with-status {
          height: 34px;
        }

        .avatar {
          height: 34px;
          width: 34px;
          border-radius: 50%;
        }
        .user-info {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-left: 0.75rem;

          .identifier {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-end;
            transform: translateY(4px);

            .name {
              color: $dk-white;
              font: {
                family: "Whitney Medium";
              }
            }

            span.hide {
              display: none;
            }

            span.show {
              display: inline-block;
              color: rgb(185, 187, 190);
              transform: translateY(1px);
              font: {
                family: "Whitney";
                size: 14px;
                weight: 700;
              }
            }
          }

          .sub {
            color: rgb(185, 187, 190);
            transform: translateY(-3px);
            font: {
              family: "Whitney Medium";
              size: 13px;
            }
          }
        }
      }

      .actions {
        .friend-action-btn {
          margin: 0 8px;
          border-radius: 50%;
          height: 36px;
          width: 36px;
          background: rgb(47, 49, 54);
          color: $dk-icons;
          text-align: center;

          .dm-icon {
            transform: translate(-1px, 1px);
          }
        }
      }

      .actions.hover {
        .friend-action-btn {
          background: rgb(32, 34, 37);
          color: rgb(220, 221, 222);
        }

        .friend-action-btn.yes:hover {
          color: $dk-green;
        }
        .friend-action-btn.no:hover {
          color: $dk-red;
        }
      }
    }

    &:hover {
      background: rgb(58, 62, 68);
    }
  }
}

.friends.add {
  padding: 0;

  .friend-request {
    padding: 18px 30px 22px;
    border-bottom: 1px solid rgb(43, 46, 50);

    h1 {
      margin-bottom: 8px;
    }

    .friend-req-instructions {
      color: rgb(220, 221, 222);
      font: {
        family: "Whitney Medium";
        size: 14px;
      }
    }

    .friend-req-instructions.err {
      color: $dk-red;
    }
    .friend-req-instructions.success {
      color: $dk-green;
    }

    .input-wrapper {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 55px;
      border: 1px solid rgb(36, 34, 40);
      border-radius: 5px;
      background: rgb(48, 51, 57);
      margin-top: 20px;

      input {
        height: 100%;
        width: 100%;
        border: {
          top-left-radius: 5px;
          bottom-left-radius: 5px;
        }
        box-sizing: border-box;
        padding: 17px;
        color: rgb(220, 221, 222);
        font: {
          family: "Whitney Medium";
          size: 16px;
        }

        &::placeholder {
          color: rgb(71, 76, 83);
        }
      }

      .friend-req-btn {
        margin: 10px 17px;
        padding: 10px 17px;
        background: $dk-blue;
        color: $dk-white;
        width: 152px;
        border-radius: 4px;
        white-space: nowrap;

        font: {
          family: "Whitney Medium";
          size: 14px;
        }
      }

      .friend-req-btn.disabled {
        cursor: not-allowed;
        background: rgb(81, 95, 136);
        color: rgb(151, 153, 155);
      }
    }
  }
}

.doodle {
  width: 430px;
  height: 245px;
  margin: 5% auto 0;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  .doodle-sub {
    transform: translateY(50px);
    color: rgb(103, 107, 114);
    font: {
      family: "Whitney";
      size: 16px;
    }
  }
}

.doodle.no-friends {
  background-image: image-url("ph_nofriends.svg");
  width: 385px;
  height: 180px;
}

.doodle.blocked {
  background-image: image-url("ph_blocked.svg");
}

.doodle.pending {
  height: 210px;
  background-image: image-url("ph_pending.svg");
}

.doodle.online {
  height: 230px;
  background-image: image-url("ph_noonline.svg");
}

.doodle.add-dm {
  height: 90px;
  width: 190px;
  background-image: image-url("ph_add.svg");
}
