.main {
  height: 100vh;
  width: 100vw;
  background: $dk-main-bg;
  position: fixed;
  left: 72px;

  // .side-bar {
  //   height: 100%;
  //   width: 242px;
  //   position: fixed;
  //   left: 72px;
  //   background: $dk-sidebar;
  // }
}

.nav-bar {
  height: 50px;
  width: calc(100vw - 314px);
  position: fixed;
  top: 0;
  left: 314px;
  background: $dk-main-bg;
  border-bottom: 1px solid rgb(43, 45, 50);
  display: flex;
  padding: 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  & > * {
    display: flex;
    flex-direction: row;
  }

  .nav-icon-group {
    color: $dk-icons;

    a {
      color: $dk-icons;
    }

    .nav-icon {
      margin-left: 20px;
      height: 20px;
      cursor: pointer;

      &:hover {
        color: $dk-white;
      }
    }

    .nav-icon.active {
      color: $dk-white;

      &:hover {
        color: $dk-icons;
      }
    }

    .search-wrapper {
      height: 26px;
      background: $dk-search-bg;
      background: $dk-search-bg;
      border-radius: 3px;
      margin-left: 20px;

      .search-bar {
        box-sizing: content-box;
        width: 143px;
        padding: 0 5px;
        height: 97%;
        background: $dk-search-bg;
        color: rgb(111, 115, 122);
        border: {
          top-left-radius: 3px;
          bottom-left-radius: 3px;
        }
      }

      .search-icon {
        transform: translateX(-5px);
        cursor: text;
      }
    }
  }
}

.user-bar {
  width: 242px;
  height: 53px;
  left: 0;
  bottom: 0;
  padding: 10px;
  background: $dk-user-set-bg;
  color: $dk-icons;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .user {
    display: flex;
    flex-direction: row;

    .avatar {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-right: 7px;

      img {
        object-fit: cover;
        margin: 0 auto;
        width: 100%;
      }
    }

    .info {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      line-height: 1rem;

      h1 {
        color: $dk-white;
        font: {
          family: "Whitney Bold";
          size: 14px;
        }
      }

      h2 {
        font: {
          family: "Whitney Medium";
          weight: 400;
          size: 12px;
        }
      }
    }
  }

  .user-bar-ilist {
    // width: 100%;
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    align-items: center;
    justify-content: flex-end;

    .user-bar-icon {
      box-sizing: content-box;
      width: 33px;
      height: 33px;
      cursor: pointer;
      border-radius: 4px;
      color: $dk-icons;

      & > * {
        font-size: 18px;
      }

      &:hover {
        color: $dk-white;
        background: rgb(54, 56, 62);
      }
    }
  }
}

.tooltip {
  position: relative;
  display: inline-flex;
  align-items: center;

  .tooltip-content {
    max-height: 35px;
    white-space: nowrap;
    background-color: $dk-dropdown-bg;
    color: $dk-white;
    margin: 0 auto;
    padding: 5px;
    border-radius: 6px;
    display: flex;
    position: absolute;
    z-index: 1;

    h1 {
      margin: 0 auto;
      padding: 0 10px;
    }
  }
}

.u-bar-tt {
  bottom: 42px;
  right: 37px;

  .tooltip-content {
    // width: 115px;
    h1 {
      font-family: "Whitney Medium";
      font-weight: 400;
      font-size: 14px;
      color: rgb(212, 213, 214);
    }

    &:after {
      content: " ";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: $dk-dropdown-bg transparent transparent transparent;
    }
  }
}

.u-bar-tt.deafen {
  right: 20px;
}

.u-bar-tt.mute {
  right: 15px;
}
