.app {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.main {
  height: 100vh;
  width: calc(100vw - 72px - 242px);
  background: $dk-main-bg;
  // position: fixed;
  // left: 72px;
}

.nav-bar {
  max-height: 50px;
  width: calc(100vw - 314px);
  // position: fixed;
  // top: 0;
  // left: 314px;
  background: $dk-main-bg;
  border-bottom: 1px solid rgb(43, 45, 50);
  display: flex;
  padding: 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // z-index: 0;

  & > * {
    display: flex;
    flex-direction: row;
  }

  .channel-name,
  .dm-name {
    display: flex;
    flex-flow: row nowrap;
    // overflow: hidden;
    white-space: nowrap;
    max-height: inherit;
    max-width: calc(100vw - 730px);

    svg {
      color: rgb(114, 118, 125);
      transform: translateY(3px);
    }

    h3 {
      font-family: "Whitney Medium";
      padding-left: 10px;
      white-space: nowrap;
      max-width: 100%;
    }

    .topic {
      margin-left: 15px;
      border-left: 0.5px solid rgb(66, 69, 74);
      padding-left: 15px;
      transform: translateY(1px);

      h4 {
        color: rgb(185, 187, 190);
        font: {
          size: 14px;
          family: "Whitney Medium";
        }
      }
    }
  }

  .nav-icon-group {
    color: $dk-icons;

    a {
      color: $dk-icons;
    }

    .channel {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .nav-icon {
      margin-left: 20px;
      height: 20px;
      cursor: pointer;

      &:hover {
        color: $dk-white;
      }
    }

    svg:first-of-type {
      margin-left: 10px;
    }

    .nav-icon.active {
      color: $dk-white;

      &:hover {
        color: $dk-icons;
      }
    }

    .search-wrapper {
      height: 26px;
      background: $dk-search-bg;
      border-radius: 3px;
      margin-left: 20px;

      .search-bar {
        box-sizing: content-box;
        width: 143px;
        padding: 0 5px;
        height: 97%;
        background: $dk-search-bg;
        color: rgb(111, 115, 122);
        border: {
          top-left-radius: 3px;
          bottom-left-radius: 3px;
        }
      }

      .search-icon {
        transform: translateX(-5px);
        cursor: text;
      }
    }
  }

  .nav-icon-group.home {
    display: none;
  }
}

.user-bar {
  width: 242px;
  height: 53px;
  // left: 0;
  // bottom: 0;
  padding: 10px;
  background: $dk-user-set-bg;
  color: $dk-icons;
  // position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .user {
    display: flex;
    flex-direction: row;

    .avatar {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-right: 7px;

      img {
        object-fit: cover;
        margin: 0 auto;
        width: 100%;
      }
    }

    .info {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      line-height: 1rem;

      h1 {
        color: $dk-white;
        font: {
          family: "Whitney Bold";
          size: 14px;
        }
      }

      h2 {
        font: {
          family: "Whitney Medium";
          weight: 400;
          size: 12px;
        }
      }
    }
  }

  .user-bar-ilist {
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    align-items: center;
    justify-content: flex-end;

    .user-bar-icon {
      box-sizing: content-box;
      width: 33px;
      height: 33px;
      cursor: pointer;
      border-radius: 4px;
      color: $dk-icons;

      & > * {
        font-size: 18px;
      }

      &:hover {
        color: $dk-white;
        background: rgb(54, 56, 62);
      }
    }
  }
}

.tooltip {
  position: relative;
  display: inline-flex;
  align-items: center;
  z-index: 999;

  .tooltip-content {
    height: 35px;
    white-space: nowrap;
    background-color: $dk-dropdown-bg;
    color: $dk-white;
    margin: 0 auto;
    padding: 5px;
    border-radius: 6px;
    display: flex;
    position: absolute;
    // z-index: 999;

    h1 {
      margin: 0 auto;
      padding: 0 10px;
      // z-index: 999;
    }
  }
}

.nav-tt {
  top: 40px;
  right: 20px;

  .tooltip-content {
    &:after {
      content: " ";
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent $dk-dropdown-bg transparent;
    }
  }
}

.nav-tt.pin,
.nav-tt.bell {
  right: 56px;
}

.nav-tt.add-user {
  right: 60px;
}

.nav-tt.mentions,
.nav-tt.contact {
  top: 35px;
}

.nav-tt.mentions {
  right: 63px;
}

.nav-tt.contact {
  right: 17px;
}

.u-bar-tt {
  bottom: 42px;
  right: 37px;
}

.u-bar-tt,
.cl-tt,
.nav-tt {
  // bottom: 42px;
  // right: 37px;

  .tooltip-content {
    // width: 115px;
    h1 {
      font-family: "Whitney Medium";
      font-weight: 400;
      font-size: 14px;
      color: rgb(212, 213, 214);
    }
  }
}

.u-bar-tt,
.cl-tt {
  .tooltip-content {
    &:after {
      content: " ";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: $dk-dropdown-bg transparent transparent transparent;
    }
  }
}

.u-bar-tt.deafen {
  right: 20px;
}

.u-bar-tt.mute {
  // right: 15px;
  right: 31px;
}

.cl-tt.i {
  bottom: 35px;
  right: 46px;

  .tooltip-content {
    padding-top: 10px;
  }
}

.cl-tt.i.inv {
  right: 43px;
}

.cl-tt.add {
  bottom: 38px;
  right: 55px;
}

.cl-tt.add-dm {
  bottom: 38px;
  right: 42px;
}

.side-bar.convo {
  .convo-search {
    cursor: default;
    height: 50px;
    border-bottom: 1px solid rgb(35, 36, 40);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;

    button {
      border-radius: 3px;
      background: $dk-search-bg;
      color: rgb(111, 115, 122);
      height: 30px;
      width: 100%;
      font: {
        size: 14px;
        family: "Whitney Medium";
      }
      text-align: left;
      padding-left: 7px;
    }
  }
}

.dropdown-bg {
  cursor: default;
}

.dm-dropdown {
  background: $dk-main-bg;
  border-radius: 4px;
  border: 1px solid $dk-search-bg;
  width: 442px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 90px;
  left: 280px;

  .dmd-head {
    height: 100px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-bottom: 0.5px solid rgb(40, 43, 46);

    h4 {
      color: $dk-white;
      cursor: default;
      padding-bottom: 8px;
      padding-left: 2px;
      font: {
        size: 16px;
        family: "Whitney Medium";
      }
      &:hover {
        color: $dk-white;
      }
    }

    input {
      box-sizing: border-box;
      background: $dk-search-bg;
      color: rgb(108, 109, 110);
      border: 1px solid rgb(35, 38, 42);
      border-radius: 3px;
      height: 35px;
      width: 100%;
      padding: 8px 10px;
      cursor: text;

      font: {
        family: "Whitney";
        size: 16px;
        weight: 700;
      }
    }
  }

  .dmd-users {
    height: 190px;
    overflow-y: scroll;
    padding: 0 12px;

    .dmd-user-li {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      height: 40px;
      padding: 5px 10px;

      img {
        width: 32px;
        height: 32px;
        margin-right: 10px;
      }

      h4 {
        color: rgb(220, 221, 222);
        padding-right: 5px;
        font: {
          family: "Whitney Medium";
          size: 14px;
        }
      }

      h5 {
        color: rgb(120, 122, 127);
        font: {
          family: "Whitney Medium";
          size: 14px;
        }
      }

      &:hover {
        background: rgb(62, 65, 67);
      }
    }
  }
}

.channel-list.convo {
  header {
    h2 {
      padding-left: 10px;
    }
  }
  .convo-li {
    height: 45px;
    justify-content: flex-start;
    border-radius: 4px;
    img {
      height: 35px;
      width: 35px;
      margin-right: 12px;
    }
    h2 {
      color: rgb(138, 141, 146);
      font: {
        size: 16px;
      }
    }
  }

  .active {
    h2 {
      color: $dk-white;
    }
  }
}
