.user-profile {
  border-radius: 5px;
  width: 600px;

  .profile-head {
    height: 120px;
    padding: 20px;
    border: {
      bottom: 0.1px solid $dk-divider;
      top-right-radius: 5px;
      top-left-radius: 5px;
    }
    background: $dk-search-bg;
    @include flex(row, space-between, center);

    .user {
      @include flex(row, flex-start, center);
      .avatar-with-status {
        height: 80px;
        width: 80px;
        .avatar {
          height: 80px;
          width: 80px;
        }
        .badge-bg.prof {
          background: $dk-search-bg;
          height: 28px;
          width: 28px;
          bottom: -2px;
          right: -2px;

          .notification {
            height: 18px;
            width: 18px;
            .inner {
              background: $dk-search-bg;
              height: 8px;
              width: 8px;
            }
          }
        }
      }

      .user-info {
        margin-left: 20px;
        @include flex(row, flex-start, center);
        h1 {
          color: $dk-white;
          font: {
            size: 18px;
          }
        }
        span {
          color: $dk-prof-disc;
          font: {
            family: "Whitney";
            weight: 700;
            size: 16px;
          }
        }
      }
    }

    .btn-grp {
      .main-btn {
        height: 34px;
        max-width: 154px;
        min-width: 120px;
        padding: 10px 18px;
        border-radius: 4px;
        background: $dk-green;
        color: $dk-white;
        @include button-transition;

        font: {
          family: "Whitney Medium";
        }

        &:hover {
          background: $dk-green-hover;
        }
      }

      .main-btn.disabled {
        background: $dk-green-disabled;
        color: $dk-text-disabled;
      }

      .menu-btn {
        height: 34px;
        padding: 7px 10px;
        margin-left: 10px;
        color: rgb(124, 126, 129);
        &:hover {
          color: $dk-off-white;
        }
      }
    }
  }

  .profile-nav {
    background: $dk-search-bg;
    height: 55px;
    width: 100%;
    @include flex(row);

    button {
      padding: 20px 0;
      margin: 0 20px;
      color: $dk-icons;
      font: {
        family: "Whitney Medium";
      }

      &:hover {
        color: $dk-off-white;
        border-bottom: 2px solid $dk-off-white;
      }
    }

    button.active {
      color: $dk-white;
      border-bottom: 2px solid $dk-white;
    }
  }

  .profile-main {
    height: 240px;
    border: {
      bottom-right-radius: 5px;
      bottom-left-radius: 5px;
    }
    background: $dk-sidebar;
    padding: 10px;
    @include flex(column);

    overflow-y: auto;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }

    .mutual {
      width: 100%;
      border-radius: 4px;
      padding: 5px 10px;
      @include flex(row, flex-start, center);

      .server-icon {
        height: 40px;
        width: 40px;
        border-radius: 50%;
      }

      .server-icon.none {
        @include flex(row, center, center);
        background: $dk-blue;
        color: $dk-white;
        h1 {
          font: {
            family: "Whitney Medium";
            size: 14px;
          }
        }
      }

      .server-info {
        margin-left: 10px;
        @include flex(column);
        h2 {
          color: $dk-off-white;
          font: {
            family: "Whitney Medium";
            size: 16px;
          }
        }
        span {
          color: $dk-mutual-disc;
          font: {
            family: "Whitney Medium";
            size: 12px;
          }
        }
      }

      .avatar-with-status {
        height: 40px;
        width: 40px;
        .avatar {
          height: 40px;
          width: 40px;
        }

        .badge-bg.sidebar {
          background: $dk-sidebar;
          height: 20px;
          width: 20px;
          bottom: -3px;
          right: -3px;

          .notification {
            height: 12px;
            width: 12px;
            .inner {
              background: $dk-sidebar;
              height: 6px;
              width: 6px;
            }
          }
        }
      }

      .user-info {
        margin-left: 10px;
        @include flex(row, flex-start, center);
        h2 {
          color: $dk-off-white;
          font: {
            family: "Whitney Medium";
            size: 16px;
          }
        }
        span {
          color: $dk-mutual-disc;
          font: {
            family: "Whitney Medium";
            size: 12px;
          }
        }
      }

      &:hover {
        background: $dk-channel-hover;
        .avatar-with-status {
          .badge-bg.sidebar {
            background: $dk-channel-hover;

            .notification {
              .inner {
                background: $dk-channel-hover;
              }
            }
          }
        }
      }
    }

    .mutuals-doodle {
      height: 175px;
      width: 250px;
      margin: 32px auto;
      @include flex(row, center, flex-end);
      background-repeat: no-repeat;
      background-color: inherit;

      h2 {
        color: $dk-icons;
        font: {
          family: "Whitney Medium";
          size: 14px;
        }
      }
    }

    .mutuals-doodle.mservers {
      background-image: image-url("ph_nomutualservers.svg");
    }

    .mutuals-doodle.mfriends {
      background-image: image-url("ph_nomutualfriends.svg");
    }
  }
}
