.server-bar {
  width: 72px;
  height: 100%;
  background: $dk-search-bg;
  position: fixed;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;

  .server-list {
    display: flex;
    flex-flow: column nowrap;

    .home-btn,
    .server-icon,
    .server-btn {
      height: 48px;
      width: 48px;
      border-radius: 50%;
      background: $dk-main-bg;
      margin: 5px 0;
      color: $dk-green;
      transition: all 0.5s ease;

      &:hover {
        background: $dk-green;
        color: $dk-white;
        border-radius: 15px;
      }
    }

    .server-btn.active {
      background: $dk-green;
      color: $dk-white;
      border-radius: 15px;
    }

    .home-btn-divider {
      width: 66%;
      margin: 0 auto;
      padding-bottom: 3px;
      margin-bottom: 3px;
      border-bottom: 1.5px solid rgb(45, 47, 50);
    }

    .server-icon {
      h1 {
        font-family: "Whitney Medium";
        font-size: 18px;
      }
    }

    .home-btn {
      margin-top: 15px;

      img {
        width: 60%;
        margin: 0 auto;
        object-fit: cover;
        transform: translateY(1px);
      }
    }

    .home-btn,
    .server-icon {
      color: rgb(220, 221, 222);

      &:hover {
        background: $dk-blue;
        color: $dk-white;
      }
    }

    .home-btn.active,
    .server-icon.active {
      background: $dk-blue;
      border-radius: 15px;
      color: $dk-white;
    }
  }
}

.server-portal {
  background: $dk-white;
  color: $dk-black;
  width: 542px;
  height: 341px;
  border-radius: 4px;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  h1 {
    font-size: 24px;
  }

  .portal-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    section {
      width: 228px;
      height: 242px;
      border: 0.5px solid rgb(229, 229, 229);
      border-radius: 5px;
      padding: 15px;
      margin: 0 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      cursor: pointer;

      h3 {
        font-size: 16px;

        span {
          font-family: "Whitney Bold";
        }
      }

      img {
        width: 95%;
        margin: 0 auto;
      }

      button {
        width: 100%;
        height: 38px;
        border-radius: 3px;
      }

      .sp-left {
        background: $dk-blue;
      }

      .sp-right {
        background: $dk-green;
      }
    }
  }
}

.new-server {
  background: $dk-white;
  color: $dk-server-form-text;
  width: 542px;
  height: 422px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  header {
    text-align: center;
    padding: 28px 40px 23px 40px;
    font-size: 18px;

    h1 {
      color: $dk-blue;
    }
    h2 {
      font-family: "Whitney Medium";
      font-weight: 400;
      padding-top: 10px;
    }
  }

  .input-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 75px 0 40px;

    label {
      font-size: 11px;
      color: $dk-server-form-label;
      display: flex;
      flex-direction: column;
      width: 235px;
      padding-top: 25px;

      input {
        margin-top: 12px;
        padding: 10px 4px;
        border-bottom: 1.5px solid $dk-s-icon-b;
        color: $dk-black;
        font-size: 16px;
      }

      p {
        margin: 15px 0;
        color: $dk-server-form-disclaimer;
        font-family: "Whitney Medium";
        font-weight: 300px;
        line-height: 1rem;

        span {
          color: $dk-blue-link;
        }
      }

      .server-name-err {
        color: $dk-red;
      }

      .err-msg {
        font-family: "Whitney Medium Italic";
        color: $dk-red;
      }
    }

    // .s-icon {
    //   height: 128px;
    //   width: 128px;
    //   border-radius: 50%;
    //   background: $dk-blue;
    //   border: 5px solid $dk-s-icon-b;
    //   box-sizing: content-box;
    //   display: flex;
    //   align-items: center;

    //   h3 {
    //     color: $dk-white;
    //     font-size: 36px;
    //     margin: 0 auto;
    //     text-align: center;
    //   }
    // }
    // figcaption {
    //   font-size: 10px;
    //   text-align: center;
    // }
  }

  footer {
    background: $dk-server-form-footer-bg;
    width: 100%;
    height: 75px;
    padding: 10px 40px;
    border-radius: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;

    .back {
      background: none;
      padding-left: 0px;
      height: 38px;
      width: auto;
      border-radius: 0;
      &:hover {
        border-bottom: 2px solid $dk-server-form-footer-text;
      }
    }

    .server-create,
    .server-join {
      background: $dk-blue;
      border-radius: 3px;
      width: 98px;
      height: 38px;
    }

    h4 {
      color: $dk-server-form-footer-text;
      font: {
        family: "Whitney Medium";
        size: 12px;
        weight: 400;
      }
    }
  }
}

.new-server.join {
  header {
    padding: 30px 95px 7px 95px;

    h1 {
      color: $dk-green;
    }

    h2 {
      padding: 20px 0 14px;
    }

    p {
      color: $dk-blue;
      font: {
        family: "Whitney Medium";
        size: 12px;
      }
      line-height: 1rem;
    }
  }

  label {
    width: 100%;
    padding: 0px 77px;
    display: flex;
    flex-direction: column;

    input {
      border-bottom: 1.5px solid $dk-s-icon-b;
      color: $dk-black;
      font-size: 16px;
      padding: 10px 4px;
      margin-bottom: 5px;
    }

    span {
      font: {
        size: 11px;
        family: "Whitney Medium";
      }
      .err-msg {
        color: $dk-red;
      }
    }
  }

  section {
    text-align: center;
    padding-top: 38px;
    line-height: 1rem;
    p,
    a {
      font: {
        size: 14px;
        family: "Whitney";
        // weight: 400;
      }
    }

    a {
      color: $dk-blue-link;
    }
  }

  .server-join {
    background: $dk-green;
  }
}

.side-bar {
  height: 100%;
  width: 242px;
  position: fixed;
  left: 72px;
  background: $dk-sidebar;
}

.server {
  .dropdown-trigger {
    height: 50px;
    border-bottom: 1px solid rgb(35, 36, 40);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;

    button {
      color: $dk-icons;
    }

    &:hover {
      background: rgb(52, 55, 60);
    }
  }
}

.dropdown-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: none;
  z-index: 10;

  .dropdown {
    position: absolute;
    top: 56px;
    left: 78px;
    background: $dk-dropdown-bg;
    border-radius: 3px;
    width: 228px;
    padding: 10px 7px;

    button {
      width: 212px;
      height: 35px;
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      justify-content: space-between;
      align-items: center;
      padding: 4px 6px;
      margin-right: 0;
      color: $dk-icons;

      h3 {
        font-size: 14px;
        font-family: "Whitney Medium";
      }

      &:hover {
        background: $dk-blue;
        color: $dk-white;
      }
    }

    .inv {
      color: $dk-blue;
      padding-right: 3px;
    }

    .leave {
      color: $dk-red;

      &:hover {
        background: $dk-red;
        color: $dk-white;
      }
    }
  }
}

.s-icon-tt {
  left: 20px;

  .tooltip-content {
    min-width: 175px;
    max-width: 400px;

    h1 {
      &:after {
        content: " ";
        position: absolute;
        top: 50%;
        right: 100%;
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent $dk-dropdown-bg transparent transparent;
      }
    }
  }
}

.server-inv {
  background: $dk-main-bg;
  width: 440px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & > * {
    padding: 15px;
  }

  header {
    height: 53px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h1 {
      font-size: 16px;
      font-family: "Whitney Medium";
    }

    button {
      color: rgb(119, 122, 127);

      &:hover {
        color: $dk-white;
      }
    }
  }

  footer {
    height: 130px;
    border-top: 1px solid rgb(71, 74, 77);

    h5 {
      color: rgb(142, 146, 151);
      font: {
        family: "Whitney Medium";
        size: 12px;
      }
      padding-bottom: 3px;
    }

    .input-wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;

      input {
        box-sizing: border-box;
        background: $dk-session-input-bg;
        color: rgb(211, 213, 214);
        border: 0.5px solid $dk-session-input-b;
        border: {
          top-left-radius: 3px;
          bottom-left-radius: 3px;
          right: none;
        }
        margin-top: 0;
        padding: 10px;
        height: 42px;
        width: 100%;

        font-size: 16px;

        &:focus {
          border-color: $dk-blue;
        }
      }

      .btn-wrapper {
        padding: 4px 4px 3px;
        background: $dk-session-input-bg;
        border: 0.5px solid $dk-session-input-b;
        border: {
          top-right-radius: 3px;
          bottom-right-radius: 3px;
          left: none;
        }

        button {
          width: 77px;
          height: 32px;
          background: $dk-blue;
          border-radius: 3px;
        }
      }

      .btn-wrapper.active {
        border-color: $dk-blue;
      }

      .btn-wrapper.copied,
      input.copied {
        border-color: $dk-green;

        button {
          background: $dk-green;
        }
      }
    }

    p {
      padding-top: 3px;
      color: rgb(150, 152, 156);
      font: {
        // family: "Whitney Medium";
        size: 12px;
      }
    }
  }
}

.leave-server {
  width: 442px;

  & > * {
    padding: 16px 20px 20px;
  }

  header {
    height: 120px;
    background: $dk-main-bg;

    border: {
      top-left-radius: 4px;
      top-right-radius: 4px;
    }

    h1 {
      font-family: "Whitney Medium";
      // font-weight: 400;
      padding-bottom: 16px;
    }

    h2 {
      color: rgb(211, 213, 214);
      line-height: 1.25rem;
    }
  }

  footer {
    height: 78px;
    background: rgb(47, 49, 54);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    border: {
      bottom-left-radius: 4px;
      bottom-right-radius: 4px;
    }

    button {
      width: 108px;
      height: 39px;
      border-radius: 3px;
    }

    .leave {
      background: $dk-red;
    }

    .cancel:hover {
      text-decoration: underline;
    }
  }
}

.s-icon {
  height: 128px;
  width: 128px;
  border-radius: 50%;
  background: $dk-blue;
  border: 5px solid $dk-s-icon-b;
  box-sizing: content-box;
  display: flex;
  align-items: center;

  h3 {
    color: $dk-white;
    font-size: 36px;
    margin: 0 auto;
    text-align: center;
  }
}
figcaption {
  font-size: 10px;
  text-align: center;
}
