.session-container {
  height: 100vh;
  min-width: 100%;
  background-image: url("/assets/session_bg.jpg");
  background-size: cover;
  mask-image: url("/assets/session_mask.png");
  display: flex;

  .session_bg {
    object-fit: cover;
    position: fixed;
    z-index: -1;
  }
  .session-form {
    background: $dk-main-bg;
    box-sizing: border-box;
    width: 786px;
    height: 410px;
    border-radius: 3px;
    padding: 20px;
    margin: auto;
    align-self: center;
    display: flex;
    flex-direction: row;

    .form-group {
      padding: 10px;
      width: 420px;
      display: flex;
      flex-direction: column;

      h1 {
        font: {
          family: "Whitney Bold";
          size: 24px;
        }
        text-align: center;
        margin-bottom: 10px;
      }

      .session-sub {
        color: $dk-session-sub;
        text-align: center;
      }

      label {
        color: $dk-session-label;
        font-size: 12px;
        margin-top: 20px;
      }

      input {
        box-sizing: border-box;
        background: $dk-session-input-bg;
        color: $dk-white;
        border: 0.5px solid $dk-session-input-b;
        margin-top: 10px;
        padding: 10px;
        &:focus {
          border-color: $dk-blue;
        }
      }
      a,
      input,
      button {
        width: 100%;
        height: 40px;
        border-radius: 3px;
      }

      button {
        background: $dk-session-blue;
        font: {
          family: "Whitney Medium";
          size: 16px;
        }
        &:hover {
          background: rgb(105, 125, 194);
        }
      }

      p {
        font: {
          family: "Whitney Medium";
          size: 14px;
        }
        margin-top: 3px;
      }

      span {
        color: $dk-session-p;
      }

      a {
        color: $dk-blue;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media screen and (min-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
}
